baseURL = 'https://www.aroy.sh/'
languageCode = 'en-us'
title = 'Arnab Roy'

theme = 'fiasco'
googleAnalytics = "G-ET3RG92LXC"

[taxonomies]
  tag = "tags"
  category = "categories"

[permalinks]
posts = "/posts/:slug/"

[[menu.main]]
name = "Writing"
url = "/posts/"
weight = 1

[[menu.main]]
name = "About"
url = "/about/"
weight = 3

[[menu.main]]
name = "Uses"
url = "/uses/"
weight = 2

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineAnchors = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = false
    style = "monokai"
    tabWidth = 4
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    endLevel = 3
    ordered = false
    startLevel = 2

