{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ if .IsHome }}{{ partial "home_custom.html" . }}{{ end }}
{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if eq (len $pages) 0}}
    <span>No posts yet</span>
  {{end}}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <div class="post-item">
      <div class="post-meta">
      </div>
      <h3><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
    </div>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
