{{ partial "header.html" . }}
<div>
<span class="title">{{ .Title | markdownify }}</span>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
<!-- {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }} -->
{{ if .Params.tags }}
<div class="tags">
  [
  {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  ] · <em>{{ .ReadingTime }} min read</em>
</div>
{{ end }}
</div>

{{ partial "toc.html" . }}

<main>
{{ .Content }}
</main>


{{ partial "footer.html" . }}
