<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" />
    <script src="{{"js/feather.min.js" | relURL }}"></script>
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="{{ "/" | relURL }}" class="home-icon">
          <i data-feather="home"></i>
        </a>
        {{ range .Site.Data.info.Profiles }}
          {{ if or (eq .name "Github") (eq .name "Linkedin") (eq .name "Email") }}
          <a href="{{ .url }}" class="social-icon" target="_blank" rel="noopener">
            <i data-feather="{{ .pre }}"></i>
          </a>
          {{ end }}
        {{ end }}
      </div>
      <ul class="menu navbar-right">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <hr/>
    <script>feather.replace()</script>
